@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");

@import url("https://fonts.googleapis.com/css?family=Karla");

body {
  background-color: #121212;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: 700;
}

.left {
  float: left;
  width: 43vw;
  height: 100vh;
}

.right {
  float: right;
  width: 50vw;
  height: 90vh;
  display: grid;
  align-content: center;
  overflow: scroll;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1vw;
  grid-row-gap: 2vh;
  padding: 3vh 3vw;
}

header {
  font-size: 2vw;
  margin-left: 10vw;
  margin-top: 36vh;
  color: white;
}

p {
  font-family: "Karla";
  font-weight: 400;
  font-size: 1.1vw;
  color: rgb(201, 198, 198);
  width: 30vw;
  margin-left: 12vw;
  text-align: right;
}

button {
  width: auto;
  height: auto;
  font-size: 1vw;
  padding: 0.2vw 1vw;
  color: white;
  background-color: transparent;
  border: 0.2vw solid white;
  border-radius: 0.5vw;
  font-family: "Montserrat";
  font-weight: 700;
  float: right;
  margin-right: 1vw;
  transition: all 0.4s;
}

button:hover {
  color: #121212;
  background-color: white;
}

.restaurants {
  color: white;
}
