.card {
  height: auto;
  width: auto;
  padding: 20px 30px;
  border-radius: 32px;
  background: #121212;
  box-shadow: 6px 6px 14px #0e0e0e, -6px -6px 14px #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  text-align: center;
}

.restaurant-distance {
  font-family: "Karla";
  font-weight: 400;
  font-size: 0.7vw;
  color: rgb(201, 198, 198);
}
